* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  font-size: 25px;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.5;
}
.content h1{
  margin-top: 30px;
  font-size: 1.5rem;
}
span{
  color: red;
}
.content a {
  color: rgb(21, 239, 255);
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  transform: all 200ms;
}
.content a:hover{
    color: rgb(145, 238, 245);
}
