html,
body {
  margin: 0;
  font-size: 100%;
  font-family: "Merriweather Sans", sans-serif;
  background-image: url(https://www.radioactiva.cl/wp-content/uploads/2019/12/dead.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}


.integrantes {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 90%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(38, 50, 56, 0.6);
  z-index: -1;
}
.integrantes ul li {
  color: rgb(218, 218, 218);
  line-height: 2;
  font-size: 1.5rem;
}
.integrantes ul ul li{
  font-size: 1rem;
}
.text-center{
  text-align: center;
  color: rgb(39, 188, 214);
  font-size: 1.5rem;
}